

<div class="full reveal" id="modal" data-reveal>
    <img class="place-img" src="http://placekitten.com/1920/1280" alt="Intropsective Cage">
    <div id="ul-venues-0"></div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
