
<div id="error" class="row">
  <p> Oopppps! It seems like something weird happened or maybe you need to be logged!!!!</p>
  <p> Please   <%= link_to 'Log_In', new_user_session_path %>  or Go to <%= link_to " Home" , home_path %></p>
</div>
