
<div id="search-body">
  <h4 id="go-back"><span class="arrow-bck"><</span> <%= link_to "Go Back" , home_path  %></h4>
  <h1 id="current-range"><%= @range %> in
      <span class="current-city"></span>
  </h1>

    <div class="row medium-up-3" id="day-events-holder">
    </div>

    <div class="row">
        <%= link_to "Click To Go Back" , home_path  , :id => "home-btn", :class =>"button expanded" %>
    </div>
</div>
